@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;400;700&display=swap');

* {
    box-sizing: border-box; //total size of the element will not exceed the specified width or height.
}

html {
    background-color: #656677;
    color: white;
    font-family: sans-serif, 'Sofia Sans';

}

body {
    margin: 0;
    font-size: 0.875rem;
}