.moviesManagement-container,
.usersManagement-container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    width: 600px;
}

.member-info-label,
.user-info-label,
.member-info-label,
.movie-info-label {
    text-decoration: underline;
    color: black;
    margin-right: 5px;
}

.subscriptions-watched-container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    width: 300px;
    margin-bottom: 15px;
}

.no-movies-found {
    color: red;
    font-weight: bold;
}

.subscriptions-container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    width: 600px;
}

.member-container,
.user-container,
.movie-container,
.member-container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    width: 400px;
    margin-bottom: 15px;
}

.subscribe-movie-container{
    border: 2px solid red;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
    margin-bottom: 15px;
}
