.subscriptions-container {
    justify-content: right;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 15px;
    max-width: 40%;

        .subscriptions-button {
            margin-block: 15px;
            margin-right: 10px;
            padding: 4px 15px;
            background-color: #0e64ad;
            color: white;
            border-radius: 5px;
            font-weight: bold;
        }
}

.member-container {
    border: 2px solid rgb(85, 84, 84);
    border-radius: 20px;
    padding: 15px;
    width: 400px;
    margin-bottom: 15px;
    max-width: 90%;

    .member-name {
        color: #fef0ba;
        font-weight: bold;
        margin-bottom: 3px;
    }

    .member-info-label {
        text-decoration: underline;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .button-edit-member{
        margin-bottom: 2px;
        border-radius: 5px;
    }

    .button-edit-member:hover{
        background-color: gray;
    }
    
}
